body {
    margin: 0;

}

.reto1{
    margin: 0 15%
}

.reto1 h1 {
    text-align:center;
}

.code-example {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    border:1px solid black;
}

.pregunta h2 {
    text-align: center;
}